<section>
    <div class="about-container">
        <div class="polaroid">
            <img rel="preload" src="../../../assets/images/vaclav-pluhar-uqMBLm8bAdA-unsplash (1).jpg" alt="Rijkmuseum">
            <div class="caption">I Miss the Art</div>
        </div>
        <div class="about-text">
            <h2>Discover the power of Nichore</h2>
            <p>
                Discover the power of the AI powered application that let's you browse artists and paintings from the huge collection 
            </p>
        </div>
    </div>
</section>
